@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import 'tailwindcss';

:root {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-family:  'Science Gothic', sans-serif;
}

h2 {
  font-family: "Segoe UI", sans-serif;
}

.nav_icon{
  @apply w-5 h-5 cursor-pointer;
}

.about_card{
  @apply flex flex-1 flex-col items-center bg-gray-900/50 backdrop-blur border border-gray-800 rounded-2xl px-10 py-12 hover:border-purple-900 hover:scale-105 transition-all;
}

.technology_card{
  @apply flex py-4 px-4 flex-1 flex-col items-center bg-gray-900/50 backdrop-blur border border-gray-800 rounded-2xl gap-3 min-w-40 max-w-[100px];
}      
@keyframes float {
    0%, 100% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-15px);
    }
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}
